In [1]:
from surprise import BaselineOnly
from surprise import Dataset
from surprise import Reader
# from surprise.model_selection.split import train_test_split
from sklearn.model_selection import train_test_split
from surprise.model_selection import cross_validate, GridSearchCV
import pandas as pd
import numpy as np
import json
import os, io
from surprise import KNNBasic, KNNWithMeans
from surprise import SVDpp
from surprise import SVD
from surprise import accuracy
from io import StringIO
from surprise.model_selection import KFold

for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

/kaggle/input/librarythingreviews/reviews.json

In [2]:
def parse(path): 
    g = open(path, 'rb') 
    for l in g: 
        yield eval(l) 
        
def getDF(path):
    i = 0 
    df = {} 
    for d in parse(path): 
        df[i] = d 
        i += 1 
    return pd.DataFrame.from_dict(df, orient='index')

In [3]:
df = getDF('/kaggle/input/librarythingreviews/reviews.json')

In [4]:
df.tail()

,work,flags,unixtime,stars,nhelpful,time,comment,user
1707065,5377722,[],1.376438e+09,3.0,0,"Aug 14, 2013","Yea, so, this is borderline my type of thing. ...",Jellyn
1707066,13302111,[],1.356739e+09,NaN,0,"Dec 29, 2012",solito pacco editoriale natalizio di monologhi...,ShanaPat
1707067,452711,[],1.220227e+09,4.0,0,"Sep 1, 2008",In The Last Dive: A Father and Sons Fatal Desc...,koeniel
1707068,3109878,[],1.195690e+09,NaN,2,"Nov 22, 2007",The Age of Turbulence by Alan Greenspan\nA Rev...,Ductor
1707069,3253,[],1.220227e+09,NaN,0,"Sep 1, 2008",What a fabulous book! The story of a mix up at...,vincent1959

In [5]:
new_df=df.drop(columns=['flags','unixtime','nhelpful','time','comment'])

In [6]:
new_df.head()

       work  stars           user
0   3206242    5.0       van_stef
1  12198649    5.0       dwatson2
2  12533765    NaN       edspicer
3  12981302    4.0       amdrane2
4   5231009    3.0  Lila_Gustavus

In [7]:
new_df.describe()

              stars
count  1.387209e+06
mean   3.805416e+00
std    9.999712e-01
min    5.000000e-01
25%    3.000000e+00
50%    4.000000e+00
75%    4.500000e+00
max    5.000000e+00

In [8]:
df_zero_imputed = new_df.fillna(0)

In [9]:
df_zero_imputed.head()

       work  stars           user
0   3206242    5.0       van_stef
1  12198649    5.0       dwatson2
2  12533765    0.0       edspicer
3  12981302    4.0       amdrane2
4   5231009    3.0  Lila_Gustavus

In [10]:
n_users = len(df_zero_imputed.user.unique())

In [11]:
n_users

83195

In [12]:
n_books = len(df_zero_imputed.work.unique())
n_books

506165

In [13]:
user_list=df_zero_imputed['user'].values.tolist()

In [14]:
from collections import defaultdict
temp = defaultdict(lambda: len(temp))
res = [temp[ele] for ele in user_list]

In [15]:
res

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 13,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 27,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 31,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100,
 101,
 102,
 103,
 104,
 105,
 106,
 107,
 108,
 109,
 110,
 111,
 112,
 113,
 114,
 115,
 116,
 117,
 118,
 119,
 120,
 121,
 122,
 123,
 124,
 125,
 126,
 127,
 128,
 129,
 130,
 131,
 132,
 133,
 94,
 134,
 135,
 136,
 137,
 138,
 139,
 140,
 141,
 142,
 143,
 144,
 145,
 146,
 147,
 148,
 149,
 150,
 151,
 152,
 153,
 154,
 155,
 156,
 157,
 158,
 159,
 160,
 161,
 162,
 163,
 164,
 165,
 166,
 167,
 168,
 169,
 170,
 171,
 172,
 173,
 174,
 175,
 176,
 177,
 178,
 179,
 180,
 181,
 182,
 183,
 184,
 185,
 186,
 187,
 25,
 188,
 189,
 190,
 191,
 192,
 193,
 194,
 195,
 196,
 197,
 198,
 199,
 200,
 201,
 202,
 203,
 204,
 205,
 206,
 207,
 208,
 209,
 210,
 211,
 212,
 213,
 88,
 214,
 215,
 216,
 217,
 218,
 219,
 220,
 221,
 222,
 223,
 224,
 225,
 226,
 227,
 228,
 229,
 230,
 231,
 232,
 233,
 234,
 235,
 236,
 237,
 238,
 239,
 240,
 241,
 242,
 243,
 244,
 245,
 246,
 247,
 248,
 249,
 88,
 250,
 251,
 252,
 253,
 254,
 255,
 256,
 257,
 258,
 259,
 260,
 261,
 262,
 263,
 264,
 265,
 266,
 267,
 268,
 269,
 270,
 271,
 272,
 273,
 274,
 275,
 276,
 277,
 278,
 279,
 85,
 280,
 281,
 282,
 283,
 284,
 285,
 286,
 287,
 288,
 2,
 289,
 290,
 291,
 292,
 293,
 294,
 295,
 296,
 297,
 298,
 299,
 300,
 301,
 302,
 303,
 304,
 305,
 306,
 307,
 308,
 309,
 310,
 311,
 312,
 313,
 314,
 315,
 316,
 317,
 318,
 319,
 2,
 320,
 321,
 322,
 323,
 324,
 325,
 326,
 327,
 328,
 329,
 330,
 331,
 332,
 333,
 334,
 335,
 336,
 337,
 338,
 339,
 340,
 341,
 342,
 343,
 344,
 345,
 346,
 347,
 348,
 349,
 350,
 351,
 352,
 353,
 354,
 355,
 356,
 49,
 357,
 358,
 359,
 360,
 361,
 362,
 363,
 364,
 355,
 365,
 366,
 367,
 368,
 369,
 370,
 371,
 372,
 373,
 374,
 375,
 376,
 377,
 378,
 379,
 364,
 380,
 381,
 125,
 382,
 383,
 384,
 385,
 386,
 387,
 388,
 389,
 390,
 391,
 392,
 393,
 394,
 395,
 396,
 397,
 398,
 176,
 399,
 400,
 401,
 59,
 402,
 403,
 404,
 405,
 406,
 407,
 408,
 409,
 204,
 39,
 410,
 411,
 412,
 413,
 414,
 415,
 369,
 416,
 417,
 418,
 419,
 420,
 421,
 422,
 423,
 424,
 425,
 426,
 427,
 428,
 429,
 430,
 431,
 432,
 433,
 87,
 434,
 435,
 436,
 437,
 438,
 439,
 440,
 441,
 442,
 443,
 444,
 317,
 445,
 446,
 447,
 448,
 449,
 450,
 451,
 452,
 453,
 454,
 455,
 456,
 457,
 458,
 459,
 460,
 461,
 462,
 463,
 464,
 465,
 466,
 467,
 468,
 469,
 470,
 471,
 92,
 472,
 473,
 427,
 474,
 450,
 475,
 476,
 477,
 329,
 478,
 479,
 480,
 481,
 482,
 483,
 484,
 485,
 486,
 487,
 488,
 489,
 490,
 491,
 492,
 493,
 494,
 495,
 496,
 204,
 497,
 498,
 499,
 500,
 501,
 502,
 503,
 504,
 505,
 506,
 507,
 508,
 509,
 369,
 510,
 511,
 512,
 190,
 513,
 514,
 515,
 516,
 517,
 518,
 519,
 520,
 521,
 522,
 523,
 524,
 525,
 463,
 526,
 527,
 528,
 529,
 530,
 531,
 532,
 104,
 533,
 534,
 535,
 536,
 537,
 538,
 539,
 540,
 463,
 541,
 542,
 543,
 544,
 545,
 546,
 547,
 548,
 549,
 550,
 551,
 552,
 553,
 554,
 462,
 555,
 556,
 557,
 558,
 559,
 560,
 561,
 562,
 230,
 563,
 564,
 565,
 566,
 567,
 568,
 569,
 570,
 571,
 572,
 573,
 574,
 575,
 576,
 2,
 577,
 578,
 579,
 580,
 581,
 582,
 583,
 584,
 585,
 586,
 587,
 588,
 589,
 590,
 591,
 592,
 593,
 594,
 595,
 596,
 597,
 598,
 599,
 260,
 600,
 601,
 602,
 603,
 604,
 605,
 606,
 607,
 179,
 608,
 609,
 610,
 611,
 612,
 613,
 614,
 615,
 616,
 617,
 481,
 618,
 619,
 620,
 621,
 622,
 623,
 624,
 101,
 625,
 626,
 346,
 627,
 628,
 629,
 630,
 631,
 632,
 633,
 634,
 635,
 636,
 637,
 389,
 638,
 639,
 640,
 641,
 642,
 631,
 643,
 644,
 645,
 646,
 647,
 648,
 649,
 650,
 651,
 652,
 653,
 654,
 203,
 204,
 655,
 656,
 657,
 658,
 659,
 660,
 661,
 662,
 220,
 663,
 664,
 665,
 666,
 667,
 668,
 669,
 670,
 671,
 672,
 673,
 674,
 675,
 676,
 677,
 678,
 509,
 679,
 680,
 681,
 682,
 683,
 684,
 685,
 686,
 462,
 687,
 688,
 689,
 690,
 691,
 692,
 693,
 694,
 695,
 696,
 697,
 698,
 699,
 700,
 389,
 701,
 702,
 703,
 704,
 280,
 705,
 706,
 707,
 708,
 709,
 710,
 711,
 712,
 713,
 714,
 715,
 674,
 716,
 385,
 717,
 718,
 719,
 720,
 463,
 721,
 722,
 723,
 724,
 725,
 726,
 727,
 728,
 729,
 730,
 129,
 731,
 732,
 733,
 734,
 735,
 736,
 88,
 671,
 737,
 738,
 739,
 740,
 741,
 742,
 743,
 577,
 744,
 745,
 746,
 747,
 748,
 749,
 204,
 750,
 751,
 494,
 752,
 753,
 427,
 754,
 755,
 756,
 757,
 758,
 759,
 760,
 492,
 761,
 762,
 763,
 498,
 764,
 765,
 766,
 767,
 768,
 769,
 770,
 771,
 772,
 773,
 774,
 608,
 775,
 303,
 776,
 777,
 778,
 779,
 780,
 781,
 782,
 783,
 784,
 785,
 786,
 243,
 787,
 788,
 789,
 790,
 791,
 792,
 793,
 794,
 795,
 796,
 413,
 797,
 798,
 366,
 799,
 800,
 354,
 801,
 802,
 803,
 804,
 355,
 805,
 806,
 807,
 808,
 809,
 810,
 811,
 129,
 812,
 813,
 720,
 814,
 815,
 816,
 817,
 818,
 819,
 820,
 821,
 822,
 823,
 824,
 825,
 826,
 827,
 828,
 829,
 830,
 641,
 831,
 832,
 833,
 834,
 835,
 836,
 413,
 837,
 838,
 839,
 840,
 841,
 842,
 843,
 844,
 570,
 845,
 216,
 699,
 846,
 847,
 848,
 849,
 850,
 851,
 852,
 853,
 854,
 855,
 856,
 857,
 858,
 859,
 860,
 861,
 862,
 863,
 864,
 865,
 866,
 867,
 868,
 869,
 240,
 870,
 871,
 872,
 873,
 874,
 875,
 876,
 877,
 878,
 837,
 879,
 880,
 881,
 658,
 882,
 883,
 884,
 355,
 868,
 885,
 886,
 887,
 888,
 889,
 890,
 342,
 891,
 892,
 893,
 894,
 895,
 896,
 897,
 898,
 899,
 900,
 901,
 902,
 903,
 904,
 905,
 906,
 907,
 908,
 909,
 910,
 911,
 912,
 913,
 914,
 915,
 916,
 917,
 918,
 919,
 ...]

In [16]:
df_zero_imputed['user_id'] = res

In [17]:
df_zero_imputed.head()

       work  stars           user  user_id
0   3206242    5.0       van_stef        0
1  12198649    5.0       dwatson2        1
2  12533765    0.0       edspicer        2
3  12981302    4.0       amdrane2        3
4   5231009    3.0  Lila_Gustavus        4

In [18]:
ratings_df=df_zero_imputed[['user_id','work','stars']]

In [19]:
ratings_df.head()

   user_id      work  stars
0        0   3206242    5.0
1        1  12198649    5.0
2        2  12533765    0.0
3        3  12981302    4.0
4        4   5231009    3.0

In [20]:
ratings_df=ratings_df.rename(columns={"work": "book_id", "stars": "rating"})

In [21]:
ratings_df.isnull().any()

user_id    False
book_id    False
rating     False
dtype: bool

In [22]:
#create training set
trainingSet, testSet = train_test_split(ratings_df, test_size=0.2, train_size=None, random_state=None, shuffle=True)

In [23]:
trainingSet.shape,testSet.shape,type(trainingSet)

((1365656, 3), (341414, 3), pandas.core.frame.DataFrame)

In [24]:
reader = Reader(rating_scale=(0.5,5))  #invoke reader instance of surprise library
data=Dataset.load_from_df(trainingSet,reader)

In [25]:
test_set = Dataset.load_from_df(testSet, reader=reader)
test_set = test_set.build_full_trainset().build_testset()

# K-fold cross validation

In [26]:
kf = KFold(n_splits=3)
algo = SVD()
for trainset, valset in kf.split(data):
    algo.fit(trainset)
    predictions = algo.test(valset)
    accuracy.rmse(predictions, verbose=True)

RMSE: 1.1879
RMSE: 1.1901
RMSE: 1.1863

In [27]:
trainset = data.build_full_trainset()

In [28]:
# Build an algorithm, and train it. Follow methodology provided previously
algo = SVD()
algo.fit(trainset)

In [29]:
predictions = algo.test(test_set)

In [30]:
accuracy.rmse(predictions, verbose=True)

RMSE: 1.1661

1.1661244201285732

# GridSearchCV

In [31]:
param_grid = {'n_epochs': [10,20], 'lr_all': [0.001,0.01,0.1,1],
              'reg_all': [0.1,0.3,1],'n_factors': [20,30]}

In [32]:
gs = GridSearchCV(SVD, param_grid, measures=['rmse'], cv=5)

In [33]:
gs.fit(data)

In [34]:
print(gs.best_score['rmse'])

1.1551281146571606

In [35]:
print(gs.best_params['rmse'])

{'n_epochs': 20, 'lr_all': 0.01, 'reg_all': 0.1, 'n_factors': 20}

In [36]:
svd = gs.best_estimator['rmse']
svd.fit(data.build_full_trainset())

In [37]:
predictions = svd.test(test_set)

In [38]:
accuracy.rmse(predictions, verbose=True)

RMSE: 1.1439

1.1438602332649164